MemoryPlaces.Api/MemoryPlaces.Api/obj
MemoryPlaces.Api/MemoryPlaces.Api/bin
MemoryPlaces.Api/MemoryPlaces.Api/appsettings.json
MemoryPlaces.Api/MemoryPlaces.Api/appsettings.Development.json
MemoryPlaces.Api/MemoryPlaces.Application/obj
MemoryPlaces.Api/MemoryPlaces.Application/bin
MemoryPlaces.Api/MemoryPlaces.Domain/obj
MemoryPlaces.Api/MemoryPlaces.Domain/bin
MemoryPlaces.Api/MemoryPlaces.Infrastructure/obj
MemoryPlaces.Api/MemoryPlaces.Infrastructure/bin

MemoryPlaces.Api/MemoryPlaces.Shared/obj
MemoryPlaces.Api/MemoryPlaces.Shared/bin

MemoryPlaces.Api/MemoryPlaces.Api.Tests/obj
MemoryPlaces.Api/MemoryPlaces.Api.Tests/bin
MemoryPlaces.Api/MemoryPlaces.Application.Tests/obj
MemoryPlaces.Api/MemoryPlaces.Application.Tests/bin
MemoryPlaces.Api/MemoryPlaces.Domain.Tests/obj
MemoryPlaces.Api/MemoryPlaces.Domain.Tests/bin
MemoryPlaces.Api/MemoryPlaces.Infrastructure.Tests/obj
MemoryPlaces.Api/MemoryPlaces.Infrastructure.Tests/bin